<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <connectionStrings>
    <!-- This is a HUGE security risk, in real-world production system, the secret need to be stored somewhere and fetch either during 
         deployment or runtime. Options : KeyVault, local file in environment, etc.-->
    <add name="DbEntities" connectionString="metadata=res://*/EntityModel.csdl|res://*/EntityModel.ssdl|res://*/EntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=2c2p.database.windows.net;initial catalog=2C2P;persist security info=True;user id=admin_2c2p;password=test_dbpswd123!?;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>